@charset "UTF-8";
@import url("../js/library/fontawesome/css/all.css");
@import url("../js/library/fontawesome/fontawesome/fontawesome.css");
@import url("../js/library/aos/aos.css");
@import url("../js/library/swiper/swiper-bundle.min.css");
@import url("../js/library/themify-icons/themify-icons.css");
@import url("../js/library/select2/select2.min.css");
@import url("../js/library/themifi/themify-icons.css");
@import url("../js/library/gallery/lightgallery.min.css");
@import url("../js/library/fancybox/fancybox.css");
@import url("../../assets/Font/Sarabun/stylesheet.css");
@import url("../../assets/Font/Oswald/");
@import url("../../assets/Font/bodoni/stylesheet.css");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.mona-content strong,
.mona-content b {
  font-weight: bold;
}
.mona-content em,
.mona-content i {
  font-style: italic;
}
.mona-content h1,
.mona-content h2,
.mona-content h3,
.mona-content h4,
.mona-content h5,
.mona-content h6 {
  line-height: 1.3;
  margin-bottom: 0.5em;
  margin-top: 0.6em;
}
.mona-content h1 {
  font-size: 1.7em;
}
.mona-content h2 {
  font-size: 1.6em;
}
.mona-content h3 {
  font-size: 1.25em;
}
.mona-content h4 {
  font-size: 1.125em;
}
.mona-content h5 {
  font-size: 1em;
}
.mona-content h6 {
  font-size: 0.85em;
}
.mona-content p {
  margin: 1em 0;
}
.mona-content ul,
.mona-content ol {
  margin: 1em 0;
  list-style-position: inside;
}
.mona-content ul ul,
.mona-content ul ol,
.mona-content ol ul,
.mona-content ol ol {
  margin-left: 1em;
}
.mona-content ul {
  list-style-type: disc;
}
.mona-content ol {
  list-style-type: decimal;
}
.mona-content ul ul,
.mona-content ol ul {
  list-style-type: circle;
}
.mona-content ol ol,
.mona-content ul ol {
  list-style-type: lower-latin;
}
.mona-content img,
.mona-content iframe {
  max-width: 100% !important;
  height: auto;
}
.mona-content blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1em 0;
  padding: 1em;
  quotes: "“" "”" "‘" "’";
}
.mona-content blockquote::before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.mona-content blockquote p {
  display: inline;
}
.mona-content table {
  border-collapse: collapse;
  max-width: 100%;
  margin: 1em 0;
  border: 1px solid #e1e1e1;
}
.mona-content table th,
.mona-content table td {
  border-right: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  padding: 5px 10px;
  vertical-align: middle;
}
.mona-content .mona-youtube-wrap {
  position: relative;
  height: 0;
  padding-top: 56.25%;
}
.mona-content .mona-youtube-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.mona-content .mona-table-wrap {
  overflow: auto;
}

:root {
  --font-pri: "Sarabun", serif;
  --font-bodiniBt: "BodoniFLF";
  --font-oswald: "Oswald";
  --size-hd: 10rem;
  --pd-main: 8rem;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media screen and (min-width: 2000px) {
  html {
    font-size: 100%;
  }
}

body {
  font-family: var(--font-pri);
  font-size: 14px;
  line-height: 1.55;
  font-weight: 400;
  color: #000000;
  overflow: hidden auto;
}
@media screen and (min-width: 2000px) {
  body {
    font-size: 20px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

button,
select {
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  cursor: pointer;
}

button {
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

input,
textarea {
  appearance: none;
}

.container {
  width: 100%;
  max-width: 123rem;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.no-scroll {
  touch-action: none;
  -webkit-overflow-scrolling: none;
  overflow: hidden;
  overscroll-behavior: none;
}

iframe {
  vertical-align: middle;
}

img {
  max-width: 100%;
  height: auto;
}

.t-center {
  text-align: center;
}

.fw-b {
  font-weight: bold;
}

.fsi {
  font-style: italic;
}

.t-up {
  text-transform: uppercase;
}

.tabBtn {
  cursor: pointer;
}

.gItem {
  cursor: pointer;
}

.global-title {
  max-width: 0;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
}

.wow {
  animation-duration: 1s;
}

.wow {
  visibility: hidden;
}

.row {
  --col-gap: 2.4rem;
  --row-gap: 2.4rem;
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(var(--col-gap) / 2 * -1) calc(var(--row-gap) * -1);
}

.col {
  width: 100%;
  padding: 0 calc(var(--col-gap) / 2);
  margin-bottom: var(--row-gap);
}
.col-11 {
  width: 91.6666666667%;
}
.col-10 {
  width: 83.3333333333%;
}
.col-9 {
  width: 75%;
}
.col-8 {
  width: 66.6666666667%;
}
.col-7 {
  width: 58.3333333333%;
}
.col-6 {
  width: 50%;
}
.col-5 {
  width: 41.6666666667%;
}
.col-4 {
  width: 33.3333333333%;
}
.col-3 {
  width: 25%;
}
.col-2 {
  width: 16.6666666667%;
}
.col-1 {
  width: 8.3333333333%;
}

.swiper-slide {
  height: initial;
  overflow: hidden;
}

.swiper-pagination {
  position: static;
  margin-top: 1.6rem;
}
.swiper-pagination-bullet {
  --circle: -0.4rem;
  background-color: #54221a;
  opacity: 1;
  position: relative;
}
.swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  top: var(--circle);
  right: var(--circle);
  bottom: var(--circle);
  left: var(--circle);
  border: 1px solid #54221a;
  border-radius: 100rem;
  opacity: 0;
  transition: 0.1s ease-in-out;
}
.swiper-pagination-bullet-active {
  background-color: #54221a;
}
.swiper-pagination-bullet-active::before {
  opacity: 1;
}
.swiper-pagination.white .swiper-pagination-bullet {
  background-color: white;
}
.swiper-pagination.white .swiper-pagination-bullet::before {
  border-color: white;
}

.swiper-control {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.swiper-control-btn {
  width: 4rem;
  height: 4rem;
  border-radius: 100rem;
  background-color: white;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  z-index: 5;
  overflow: hidden;
  position: relative;
}
.swiper-control-btn.swiper-button-disabled {
  background-color: #dddddd;
  cursor: default;
  box-shadow: none;
}
@media screen and (min-width: 1200px) {
  .swiper-control-btn:hover(:not(.swiper-button-disabled)) {
    background-color: #54221a;
  }
  .swiper-control-btn:hover(:not(.swiper-button-disabled)) i {
    color: white;
  }
}
.swiper-control-btn::after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  background: #54221a;
  transition: all 0.4s ease;
  z-index: 1;
  pointer-events: none;
}
@media (hover: hover) {
  .swiper-control-btn:hover::after {
    left: 0;
    width: 100%;
  }
  .swiper-control-btn:hover i {
    color: white;
  }
}
.swiper-control-btn i {
  color: #54221a;
  font-size: 1.6rem;
  font-weight: 400;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  position: relative;
  z-index: 2;
}
.swiper-control.posi .swiper-control-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.swiper-control.posi.minus .swiper-prev {
  right: calc(100% + 4rem);
}
.swiper-control.posi.minus .swiper-next {
  left: calc(100% + 4rem);
}
.swiper-control.posi.midle .swiper-prev {
  left: -2rem;
}
.swiper-control.posi.midle .swiper-next {
  right: -2rem;
}
.swiper-control.posi.plus .swiper-prev {
  left: 1rem;
}
.swiper-control.posi.plus .swiper-next {
  right: 1rem;
}

.swiper-pagination-progressbar {
  background: rgba(0, 0, 0, 0.1);
  height: 0.1rem !important;
}

.swiper-pagination-progressbar-fill {
  background-color: #ebe99f !important;
}

.c-pri {
  color: #54221a;
}

.c-second {
  color: #ebe99f;
}

.c-white {
  color: white;
}

.c-black {
  color: #221e13;
}

.c-txt {
  color: #505050;
}

.c-txt-s {
  color: #000000;
}

.bc-pri {
  background-color: #54221a;
}

.bc-second {
  background-color: #ebe99f;
}

.bc-third {
  background-color: #fec020;
}

.bc-four {
  background-color: rgb(254, 240, 218);
}

.bc-five {
  background-color: #f05123;
}

.over-hd {
  overflow: hidden;
}

.z-i-1 {
  z-index: 1;
}

.z-i-2 {
  z-index: 2;
}

.z-i-3 {
  z-index: 3;
}

.z-i-4 {
  z-index: 4;
}

.z-i-5 {
  z-index: 5;
}

.m-mid {
  margin: 0 auto;
}

.m-end {
  margin-left: auto;
}

.m-top {
  margin-top: 2.4rem;
}

.m-start {
  margin-right: auto;
}

.f-mid {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}

.f-end {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-end;
}

.fl {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.fl-center {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}

.f-space {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}

.icon-left {
  margin-right: 0.8rem;
}

.icon-right {
  margin-left: 0.8rem;
}

.lg-download,
#lg-actual-size,
#lg-share {
  display: none;
}

.lg-backdrop,
.lg-outer {
  z-index: 99999;
}

.lg-outer .lg-thumb-item {
  border: 0.2rem solid #54221a;
  transition: 0.2s ease;
}
.lg-outer .lg-thumb-item.active {
  border-color: #fec020;
}
@media (hover: hover) {
  .lg-outer .lg-thumb-item:hover {
    border-color: #fec020;
  }
}

.lg-prev.lg-icon::after {
  display: none;
}

.lg-next.lg-icon::before {
  display: none;
}

.lg-outer .lg-thumb-outer {
  background-color: #000;
}

.lg-img-wrap {
  border-radius: 0.8rem;
}

.lg-thumb-item {
  border-radius: 0.8rem;
}

.lg-outer .lg-thumb {
  margin: 0 auto -5px;
}

.tabPanel {
  display: none;
}

table .status {
  font-weight: 600;
}
table .status.waiting {
  color: #f2c524;
}
table .status.success {
  color: #54221a;
}
table .status.cancle {
  color: #d31d1d;
}

.slider {
  position: relative;
}

.relative {
  position: relative;
}

.head {
  margin-bottom: 4rem;
}
.head.space {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}

.hv-bd {
  position: relative;
}
.hv-bd::before {
  content: "";
  position: absolute;
  left: 1rem;
  top: 1rem;
  right: 1rem;
  bottom: 1rem;
  border: 0.1rem solid white;
  z-index: 1;
  transition: 0.3s all ease-in-out;
  transform: scale(1.1);
  opacity: 0;
  border-radius: 1rem;
}
.hv-bd img {
  transition: 0.3s all ease-in-out;
}
@media (hover: hover) {
  .hv-bd:hover::before {
    opacity: 1;
    transform: scale(1);
  }
  .hv-bd:hover img {
    transform: translate(-50%, -50%) scale(1.05);
    -webkit-transform: translate(-50%, -50%) scale(1.05);
    -moz-transform: translate(-50%, -50%) scale(1.05);
    -o-transform: translate(-50%, -50%) scale(1.05);
  }
}

.gItem {
  cursor: pointer;
}

.parallaxJS img {
  position: relative;
}

@media screen and (min-width: 1200px) {
  .hidden-desk {
    display: none !important;
  }
}

@media screen and (max-width: 1199px) {
  .hidden-mobile {
    display: none !important;
  }
}

.full {
  width: 100%;
}

.wp-block-image {
  border-radius: 0.8rem;
}
.wp-block-image img {
  display: block;
  margin: 0 auto;
}

.br-F8F9FA {
  background-color: #f8f9fa;
}

.sh-btn,
.show-hide-btn {
  font-weight: 700;
  color: #54221a;
  cursor: pointer;
}
@media (hover: hover) {
  .sh-btn:hover,
  .show-hide-btn:hover {
    text-decoration: underline;
  }
}

.re-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8e8e8e;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 100rem;
  padding: 1rem 3.2rem;
  border: 0.1rem solid #8e8e8e;
  width: fit-content;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}
.re-btn::after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  background: #54221a;
  transition: all 0.4s ease;
  z-index: 1;
  pointer-events: none;
}
@media (hover: hover) {
  .re-btn:hover::after {
    left: 0;
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .re-btn {
    padding: 0.8rem 1.6rem;
    font-size: 1.4rem;
  }
}
.re-btn > * {
  position: relative;
  z-index: 2;
}
@media (hover: hover) {
  .re-btn:hover {
    color: white;
    border-color: #54221a;
  }
}
.re-btn.active {
  color: white;
  border-color: #54221a;
}
.re-btn.active::after {
  left: 0;
  width: 100%;
}

.re-content ul li {
  padding-left: 2.4rem;
  position: relative;
}
.re-content ul li:not(:last-child) {
  margin-bottom: 1.2rem;
}
.re-content ul li::before {
  content: "";
  position: absolute;
  background-image: url(../assets/images/icon-tick.svg);
  left: 0;
  width: 1.6rem;
  height: 1.6rem;
  background-size: contain;
  background-repeat: no-repeat;
  top: 0.5rem;
}

.head-filter-top {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}
.head-filter-top .right {
  width: 20rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
@media screen and (max-width: 1199px) {
  .head-filter-top .right {
    width: 48.2rem;
    justify-content: space-between;
  }
}
@media screen and (max-width: 800px) {
  .head-filter-top .right {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .head-filter-top .right {
    align-items: flex-end;
  }
}
.head-filter-top .right .re-select {
  flex: 1;
}
.head-filter-top .right-inner {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media screen and (max-width: 1199px) {
  .head-filter-top .right-inner {
    width: 20rem;
  }
}
@media screen and (max-width: 400px) {
  .head-filter-top .right-inner {
    width: 16rem;
    flex-wrap: wrap;
    gap: 0.4rem;
  }
  .head-filter-top .right-inner .title {
    width: 100%;
  }
}
.head-filter-top .head-filter-search {
  flex: 1;
}
@media screen and (min-width: 1200px) {
  .head-filter-top .head-filter-search {
    display: none;
  }
}
.head-filter-bot {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2.4rem;
  justify-content: space-between;
}
.head-filter-bot .left {
  width: 73rem;
  max-width: 100%;
}
.head-filter-bot .right {
  width: 28.2rem;
}
@media screen and (max-width: 1199px) {
  .head-filter-bot .head-filter-search {
    display: none;
  }
}
.head-filter-slider {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.head-filter-slider .swiper {
  margin: 0;
}
.head-filter-slider .swiper-slide {
  width: fit-content !important;
}
.head-filter-search-wrap {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  border: 0.1rem solid #54221a;
  border-radius: 100rem;
  overflow: hidden;
  margin-left: auto;
  justify-content: space-between;
  width: fit-content;
}
.head-filter-search-wrap .re-input {
  padding: 0;
  color: #505050;
  transition: 0.3s ease-in-out;
  padding: 1rem 2.4rem;
}
.head-filter-search-wrap .re-input:focus {
  border-bottom-color: transparent;
}
.head-filter-search-wrap .re-input.placeholder {
  color: #505050;
}
.head-filter-search-wrap .re-input:-moz-placeholder {
  color: #505050;
}
.head-filter-search-wrap .re-input::-moz-placeholder {
  color: #505050;
}
.head-filter-search-wrap .re-input:-ms-input-placeholder {
  color: #505050;
}
.head-filter-search-wrap .re-input::-webkit-input-placeholder {
  color: #505050;
}
.head-filter-search-wrap.active .head-filter-search-input {
  max-width: 20rem;
}
.head-filter-search-wrap.active .head-filter-search-btn-inner.js {
  pointer-events: none;
}
.head-filter-search-input {
  transition: 0.5s ease;
  flex: 1;
  max-width: 0;
  flex: unset;
}
.head-filter-search-btn {
  width: 4.4rem;
  height: 4.4rem;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: auto;
}
.head-filter-search-btn img {
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
  top: 0.2rem;
}
.head-filter-search-btn-inner {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 100rem;
  cursor: pointer;
}
.select-sort .select2-container .select2-selection--single .select2-selection__rendered {
  color: #505050;
  font-weight: 700;
}
.select-sort .select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #54221a transparent transparent transparent;
}
.select-sort .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #54221a transparent;
}
.select-sort .select2-container--default .select2-selection--single {
  border-bottom: 0.1rem solid #000;
}

.tabNext,
.tabPrev {
  display: none;
}

.my-dropzone {
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  padding: 2.4rem;
  text-align: center;
  cursor: pointer;
  position: relative;
  border: 0.1rem dashed white;
  display: block;
}
.my-dropzone > img {
  display: block;
  margin: 0 auto 1.6rem;
  width: 3.2rem;
}
.fix {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  transition: 0.5s cubic-bezier(0.72, 0.04, 0.49, 0.82);
  opacity: 0;
  visibility: hidden;
  transform: translate(100%, 0);
  z-index: 50;
}
@media screen and (max-width: 768px) {
  .fix {
    right: 1rem;
  }
}
.fix.active {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
}
.fix-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 100rem;
  background-color: #54221a;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: relative;
}
.fix-link::before {
  content: "";
  position: absolute;
  left: -0.4rem;
  top: -0.4rem;
  right: -0.4rem;
  bottom: -0.4rem;
  z-index: -1;
  border-radius: inherit;
  transition: 0.5s cubic-bezier(0.72, 0.04, 0.49, 0.82);
  border: 0.1rem solid #90caf9;
}
@media (hover: hover) {
  .fix-link:hover::before {
    opacity: 0;
    transform: scale(1.2);
  }
}
.fix-link img {
  width: 2rem;
}

.to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 100rem;
  background-color: #54221a;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
}
@media (hover: hover) {
  .to-top:hover i {
    transform: translateY(-100%);
  }
}
.to-top .icon {
  width: 2rem;
  height: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  color: white;
}
.to-top .icon i {
  width: inherit;
  height: inherit;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-2 {
  margin-bottom: 0.2rem;
}

.mb-4 {
  margin-bottom: 0.4rem;
}

.mb-6 {
  margin-bottom: 0.6rem;
}

.mb-8 {
  margin-bottom: 0.8rem;
}

.mb-8s:not(:last-child) {
  margin-bottom: 0.8rem;
}

.mb-10 {
  margin-bottom: 1rem;
}

.mb-10s:not(:last-child) {
  margin-bottom: 1rem;
}

.mb-12 {
  margin-bottom: 1.2rem;
}

.mb-12s:not(:last-child) {
  margin-bottom: 1.2rem;
}

.mb-14 {
  margin-bottom: 1.4rem;
}

.mb-14s:not(:last-child) {
  margin-bottom: 1.4rem;
}

.mb-15 {
  margin-bottom: 1.5rem;
}

.mb-15s:not(:last-child) {
  margin-bottom: 1.5rem;
}

.mb-16 {
  margin-bottom: 1.6rem;
}

.mb-16s:not(:last-child) {
  margin-bottom: 1.6rem;
}

.mb-18 {
  margin-bottom: 1.8rem;
}

.mb-18s:not(:last-child) {
  margin-bottom: 1.8rem;
}

.mb-20 {
  margin-bottom: 2rem;
}

.mb-20s:not(:last-child) {
  margin-bottom: 2rem;
}

.mb-24 {
  margin-bottom: 2.4rem;
}

.mb-24s:not(:last-child) {
  margin-bottom: 2.4rem;
}

.mb-25 {
  margin-bottom: 2.5rem;
}

.mb-25s:not(:last-child) {
  margin-bottom: 2.5rem;
}

.mb-30 {
  margin-bottom: 3rem;
}

.mb-30s:not(:last-child) {
  margin-bottom: 3rem;
}

.mb-32 {
  margin-bottom: 3.2rem;
}

.mb-32s:not(:last-child) {
  margin-bottom: 3.2rem;
}

.mb-40 {
  margin-bottom: 4rem;
}

.mb-40s:not(:last-child) {
  margin-bottom: 4rem;
}

.mb-48 {
  margin-bottom: 4.8rem;
}

.mb-48s:not(:last-child) {
  margin-bottom: 4.8rem;
}

.mb-56 {
  margin-bottom: 5.6rem;
}

.mb-56s:not(:last-child) {
  margin-bottom: 5.6rem;
}

.mb-64 {
  margin-bottom: 6.4rem;
}

.mb-64s:not(:last-child) {
  margin-bottom: 6.4rem;
}

.mb-72 {
  margin-bottom: 7.2rem;
}

.mb-72s:not(:last-child) {
  margin-bottom: 7.2rem;
}

.mb-80 {
  margin-bottom: 8rem;
}

.mb-80s:not(:last-child) {
  margin-bottom: 8rem;
}

.ss-mg {
  margin: var(--pd-sc) 0;
}

.ss-mg-t {
  margin-top: var(--pd-sc);
}

.ss-mg-b {
  margin-bottom: var(--pd-sc);
}

.ss-pd {
  padding: var(--pd-sc) 0;
}

.ss-pd-t {
  padding-top: var(--pd-sc);
}

.ss-pd-b {
  padding-bottom: var(--pd-sc);
}

.t-title {
  font-size: 4rem;
  font-weight: 700;
  color: #54221a;
  line-height: 1.3;
}
@media only screen and (max-width: 1200px) {
  .t-title {
    font-size: 3.5rem;
  }
}
@media only screen and (max-width: 800px) {
  .t-title {
    font-size: 2.7rem;
  }
}

.t-title-24 {
  font-size: 2.4rem;
  font-weight: 700;
}

.t-title-56 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.2;
}
@media only screen and (max-width: 1200px) {
  .t-title-56 {
    font-size: 5.1rem;
  }
}
@media only screen and (max-width: 800px) {
  .t-title-56 {
    font-size: 4rem;
  }
}
@media screen and (max-width: 700px) {
  .t-title-56 {
    font-size: 3.2rem;
  }
}

.t-title-icon {
  display: flex;
  font-weight: 700;
  font-size: 2.4rem;
  gap: 1rem;
}
.t-title-icon img {
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
  top: 0.8rem;
}

.title-line {
  font-size: 2.4rem;
  font-weight: 700;
  position: relative;
  display: inline-block;
  z-index: 5;
}
@media only screen and (max-width: 1200px) {
  .title-line {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 800px) {
  .title-line {
    font-size: 1.7rem;
  }
}
.title-line::before {
  content: "";
  position: absolute;
  height: 0.8rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  width: 0;
  background-color: #65D3FF;
  bottom: 0;
  z-index: -1;
  transition: 0.3s cubic-bezier(0.72, 0.04, 0.49, 0.82);
}
@media screen and (max-width: 800px) {
  .title-line::before {
    height: 0.6rem;
  }
}
.title-line .word {
  display: inline-flex;
}
.title-line .chars {
  opacity: 0;
  visibility: hidden;
  transform: translate(0, -2rem);
  transition: 1s cubic-bezier(0.72, 0.04, 0.49, 0.82);
}
.title-line.is-inview::before {
  width: 100%;
}
.title-line.is-inview .chars {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
}

.t-title-second {
  font-size: 2.4rem;
}
@media only screen and (max-width: 1200px) {
  .t-title-second {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 800px) {
  .t-title-second {
    font-size: 1.7rem;
  }
}

.t-center {
  text-align: center;
}

.fw-1 {
  font-weight: 100;
}

.fw-2 {
  font-weight: 200;
}

.fw-3 {
  font-weight: 300;
}

.fw-5 {
  font-weight: 500;
}

.fw-6 {
  font-weight: 600;
}

.fw-7 {
  font-weight: 700;
}

.fw-8 {
  font-weight: 800;
}

.fw-b {
  font-weight: bold;
}

.fsi {
  font-style: italic;
}

.t-up {
  text-transform: uppercase;
}

.t9 {
  font-size: 0.9rem;
}

.t11 {
  font-size: 1.1rem;
}

.t12 {
  font-size: 1.2rem;
}

.t14 {
  font-size: 1.4rem;
}

.t16 {
  font-size: 1.6rem;
}

.t18 {
  font-size: 1.8rem;
}
@media only screen and (max-width: 1200px) {
  .t18 {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 800px) {
  .t18 {
    font-size: 1.5rem;
  }
}

.t20 {
  font-size: 2rem;
}
@media only screen and (max-width: 1200px) {
  .t20 {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 800px) {
  .t20 {
    font-size: 1.6rem;
  }
}

.t24 {
  font-size: 2.4rem;
}
@media only screen and (max-width: 1200px) {
  .t24 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 800px) {
  .t24 {
    font-size: 1.7rem;
  }
}

.t32 {
  font-size: 3.2rem;
}
@media only screen and (max-width: 1200px) {
  .t32 {
    font-size: 2.7rem;
  }
}
@media only screen and (max-width: 800px) {
  .t32 {
    font-size: 2.2rem;
  }
}

.t40 {
  font-size: 4rem;
}
@media only screen and (max-width: 1200px) {
  .t40 {
    font-size: 3.5rem;
  }
}
@media only screen and (max-width: 800px) {
  .t40 {
    font-size: 2.7rem;
  }
}

.t48 {
  font-size: 4.8rem;
}
@media only screen and (max-width: 1200px) {
  .t48 {
    font-size: 4.3rem;
  }
}
@media only screen and (max-width: 800px) {
  .t48 {
    font-size: 3.3rem;
  }
}

.t56 {
  font-size: 5.6rem;
}
@media only screen and (max-width: 1200px) {
  .t56 {
    font-size: 5.1rem;
  }
}
@media only screen and (max-width: 800px) {
  .t56 {
    font-size: 4rem;
  }
}

.t64 {
  font-size: 6.4rem;
}
@media only screen and (max-width: 1200px) {
  .t64 {
    font-size: 3.9rem;
  }
}
@media only screen and (max-width: 800px) {
  .t64 {
    font-size: 2.9rem;
  }
}

.t72 {
  font-size: 7.2rem;
}
@media only screen and (max-width: 1200px) {
  .t72 {
    font-size: 5rem;
  }
}
@media only screen and (max-width: 800px) {
  .t72 {
    font-size: 4rem;
  }
}/*# sourceMappingURL=style.css.map */