.footer {
  min-height: calc((650 / 1728) * 100vw);
  position: relative;
  overflow: hidden;

  &-bg {
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: -1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-content {
    padding: 8rem 0 2.8rem;
    //   min-height: inherit;
    //   padding: 8rem 1.5rem;
    //   width: 83rem;
    //   margin-left: auto;
    //   max-width: 100%;
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: center;
    //   @include max(1200px) {
    //     width: inherit;
    //   }
  }
  &-left {
    .rice-inner {
      //   width: calc((36rem + 100%));
      width: calc(100% + (100vw - 121rem) / 2 + 1.5rem);
      //   margin-left: -36rem;
      margin-left: calc(-1 * ((100vw - 121rem) / 2 + 1.5rem));
      @include max(1200px) {
        width: 100%;
        margin-left: 0;
      }

      .rice-img {
        padding-top: calc((547 / 628) * 100%);
        position: relative;

        img {
          @include Img;
        }
      }
    }
  }
  &-left,
  &-logo {
    @include max(1200px) {
      width: 50%;
    }
  }
  &-right {
    @include max(1200px) {
      width: 100%;
    }
  }
  &-logo {
    .footer-img {
      margin-bottom: 3rem;
    }
    .footer-mxh {
      display: flex;
      align-items: center;
      gap: 1.6rem;
    }
  }
  &-wrapper.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &-fb {
    width: 3.2rem;
    height: 3.2rem;
    background-color: $color-fb;
    border-radius: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-0.3rem);
    .fa-facebook-f {
      color: $color-white;
      font-weight: 700;
      font-size: 1.6rem;
    }
  }
  &-wrapper.right {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    @include max(1200px) {
      flex-direction: row;
      justify-content: center;
    }
    @include max(600px) {
      flex-direction: column;
    }
  }

  &-title {
    font-size: 2.4rem;
    font-weight: 700;
    color: $color-black;
    margin-bottom: 2rem;
  }
  &-contact {
    @include max(1200px) {
      margin: 0 auto;
    }

    &-item {
      display: flex;
      gap: 1.2rem;

      &:not(:last-child) {
        margin-bottom: 1.6rem;
      }
      .fa-solid {
        font-size: 2rem;
        color: #5a8141;
        font-weight: 600;
      }
    }
    .mail,
    .phone {
      align-items: center;
    }
    .text {
      font-size: 1.4rem;
      font-weight: 400;
      color: $color-text;
    }
  }
  &-quicklines {
    @include max(1200px) {
    }
    @include max(790px) {
      text-align: left;
    }
  }
  &-menu {
    --col-gap: 2rem;
    --row-gap: 1.6rem;

    &-link {
      color: $color-text;
      font-weight: 700;
      font-size: 1.4rem;
      transition: all 0.5s;
    }
    .footer-item-text {
      &:hover {
        .footer-menu-link {
          color: #a5b539;
          font-weight: 700;
        }
      }
    }
    &-item {
      @include max(790px) {
        width: 50%;
      }
    }
  }
  &-row {
    // --col-gap: 8rem;
    align-items: center;
  }
  .mona {
    justify-content: center;
    margin-top: 8.6rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    .text {
      font-size: 1.4rem;
      font-weight: 700;
      color: $color-white;
    }
  }
}
